<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <!--        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
        <script th:src="@{/static/core/js/jquery.min.js}"></script>
        <link rel="stylesheet" th:href="@{/static/eva/cs/login.css}">
        <script th:src="@{/static/eva/js/login_render.js}"></script>
    </head>
    <body>
        <div class="cho-login-body">
            <div class="cho-login-thead">
                <img id="lemurLogo" th:src="@{/static/eva/img/lemur.png}" alt="lemur.png">
            </div>
            <div class="cho-login-tbody">
                <div class="title-wrapper">
                    <h1 class="title">欢迎回来</h1>
                </div>
                <div class="login-container">
                    <div class="cho-login-form">
                        <div class="cho-login-username">
                            <input type="text" id="username" name="username" required>
                            <label class="cho-username-label" for="username">用户名称</label>
                        </div>
                        <div class="cho-login-password">
                            <input type="password" id="password" name="password" required>
                            <label class="cho-password-label" for="password">密码</label>
                        </div>
                        <div  class="cho-login-captcha">
                            <input type="text" id="captcha" name="captcha" required>
                            <label class="cho-captcha-label" for="captcha">验证码</label>
                            <a class="captcha">
                                <img id="captchaImg" th:src="@{/static/eva/img/white.png}" alt="captcha"/>
                            </a>
                        </div>
                        <div>
                            <input class="cho-eva-login" type="button" value="登 录">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
